.wrap {
    
    background-color: white;
    display: flex; /* Remove quotes */
    flex-direction: row; 
    flex-wrap: wrap;
    
    
    
     /* Remove quotes */
     
}

.box {
    background-color:#F4F7FE;
    display: flex;
    flex-direction: column; 
    width: 280px;
    margin-bottom: 25px;
    height: 250px;
    margin-left:15px;
    
    border-radius: 15px;
    margin-top: 10px;
}

.wrap1{
    display: flex; /* Remove quotes */
    flex-direction: row;
    overflow-y: auto;
   margin-left: 50px;
    

}
.hello{
    display: flex;
    flex-direction: row;
}
.image{
    
    color: #2B3674;
    margin: 12px 12px 10px 12px;
    height: 100px;
    border-radius: 5px;
}
.title{
    color: #2B3674;
    margin: 10px 12px 10px 12px;
    display: flex;

}

.status{
    color: #2B3674;
    font-size: 20px;
    font-weight: 550;
    margin: 16px 12px 0px 12px;

}
.attendance-link{
    margin-left: 10px;
}
.timeline{
    margin: 7px;
}