.body{
margin-top: 150px;
margin-left: 20px;
background-color: aqua;
width:1130px;
border-radius: 10px;
}
.rightcontainer{
    display: flex;
    flex-direction: row;
    
}
.container{
    display: flex;

}
.event-request{
    margin: 50px 290px;
}

.event-request .MuiButton-root {
  
    background-color: #4318FF; 
    color: #ffffff;
    padding: 10px 20px; 
    border-radius: 5px; 
    font-size: 16px; 
    text-transform: uppercase; 
    margin-left: 210px;
    margin-top: 15px;
  
    &:hover {
      background-color: #4f4c56; /* Change to your desired hover background color */
      color: #fff; 
      transition: 0.1s; /* Add a box shadow on hover */
     
    }
   
    
  }