.wrap {
    
    background-color: #F4F7FE;
    display: flex; /* Remove quotes */
    flex-direction: column; 
    flex-wrap: wrap;
    
    
    
     /* Remove quotes */
     
}

.box {
    background-color: aqua;
    display: flex;
    flex-direction: column; 
    width: 270px;
    margin-bottom: 25px;
    height: 250px;
    margin-left:15px;
    
    border-radius: 15px;
    margin-top: 10px;
}

.wrap1{
    display: flex; /* Remove quotes */
    flex-direction: row;
    overflow-y: auto;
   margin-left: 50px;
    

}
.image{
    background-color: pink;
   
    margin: 12px 12px 10px 12px;
    height: 100px;
    border-radius: 5px;
}
.title{
    background-color: blue;
    margin: 3px 12px 10px 12px;

}
.timeline{
    background-color: blueviolet;
    margin: 3px 12px 10px 12px;

}
.status{
    background-color: green;
    margin: 5px 12px 0px 12px;

}